@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-row {
    @apply flex flex-col gap-4 sm:flex-row sm:gap-4;
  }

  .form-group {
    @apply w-full;
  }

  .form-label {
    @apply block text-sm font-medium text-[#292929];
  }

  .form-input {
    @apply w-full text-sm px-3 py-2 mt-1 placeholder-gray-400 border border-[#A1A5B7] rounded-md shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-[#FE5102] focus:border-[#FE5102];
  }

  .form-otp-input {
    @apply w-12 h-12 text-center text-lg font-semibold border border-[#A1A5B7] rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-[#FE5102] focus:border-[#FE5102];
  }

  .btn {
    @apply flex justify-center w-full px-4 py-2.5 text-sm font-medium text-white border border-transparent rounded-md shadow-sm transition-colors;
  }

  .btn-primary {
    @apply bg-[#FE5102] hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500;
  }

  .btn-social {
    @apply flex items-center justify-center w-full px-4 py-2.5 text-sm font-medium text-gray-700 bg-[#F4F4F4] rounded-md shadow-sm hover:bg-gray-200;
  }

  .btn:disabled {
    @apply bg-orange-300 cursor-not-allowed;
  }
}

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.about-hero {
  background-image: url("assets/images/about-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-hero-dark {
  background-image: url("assets/images/about-dark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-hero-card {
  @apply rounded-lg bg-[#ffffff] dark:bg-[#0B0B0B] border-2 dark:border-[#232323] shadow-sm flex flex-col gap-3 p-4;
}

.about-hero-card-icon {
  @apply rounded-xl bg-[#f2f2f2] dark:bg-[#151515] w-[58px] h-[48px] flex justify-center items-center;
}

.about-foundations-card {
  @apply rounded-lg bg-[#ffffff] dark:bg-[#0B0B0B] border-2 dark:border-[#232323] shadow-sm flex flex-col gap-3 p-4;
}

.about-foundations-icon {
  @apply rounded-xl bg-[#f2f2f2] dark:bg-[#151515] flex justify-center items-center mb-2 w-[48px] h-[34px] lg:w-[74px] lg:h-[60px];
}

@layer base {
  html {
    @apply bg-[#ffffff] text-[#292929];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply text-[#292929] leading-[100%] tracking-[0%];
  }

  html.dark {
    @apply text-[#E5E5E5];
  }

  html.dark h1,
  html.dark h2,
  html.dark h3,
  html.dark h4,
  html.dark h5,
  html.dark h6,
  html.dark p {
    @apply text-[#E5E5E5] leading-[100%] tracking-[0%];
  }
}
