@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  html {
    @apply bg-[#ffffff] text-[#292929];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply text-[#292929];
  }

  html.dark {
    @apply text-[#E5E5E5];
  }

  html.dark h1,
  html.dark h2,
  html.dark h3,
  html.dark h4,
  html.dark h5,
  html.dark h6,
  html.dark p {
    @apply text-[#E5E5E5];
  }
}
